src/MagentoAccess/Service References/Magento2backendModuleServiceV1_v_2_0_2_0_CE/MagentoWSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="MagentoWSDL" targetNamespace="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
      <xsd:element name="GenericFault" type="tns:GenericFault" />
      <xsd:complexType name="GenericFaultParameter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfGenericFaultParameter">
        <xsd:annotation>
          <xsd:documentation>An array of GenericFaultParameter items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:GenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfGenericFaultParameter.</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WrappedError">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Message parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWrappedError">
        <xsd:annotation>
          <xsd:documentation>An array of WrappedError items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:WrappedError">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfWrappedError.</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GenericFault">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Trace" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Exception calls stack trace.</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Parameters" type="tns:ArrayOfGenericFaultParameter">
            <xsd:annotation>
              <xsd:documentation>Additional exception parameters.</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="WrappedErrors" type="tns:ArrayOfWrappedError">
            <xsd:annotation>
              <xsd:documentation>Additional wrapped errors.</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:annotation>
          <xsd:documentation>An array of string items.</xsd:documentation>
          <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>An item of ArrayOfString.</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataImageContentInterface">
        <xsd:annotation>
          <xsd:documentation>Image Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="base64EncodedData" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media data (base64 encoded content)</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Image name</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FrameworkDataVideoContentInterface">
        <xsd:annotation>
          <xsd:documentation>Video Content data interface</xsd:documentation>
          <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>MIME type</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoProvider" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Provider</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoUrl" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video URL</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoTitle" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Title</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoDescription" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Video Description</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="videoMetadata" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Metadata</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
        <xsd:annotation>
          <xsd:documentation>ExtensionInterface class for @see \Magento\Catalog\Api\Data\ProductAttributeMediaGalleryEntryInterface</xsd:documentation>
          <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="videoContent" type="tns:FrameworkDataVideoContentInterface">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CatalogDataProductAttributeMediaGalleryEntryInterface">
        <xsd:annotation>
          <xsd:documentation />
          <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry ID</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="mediaType" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Media type</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="label" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Gallery entry alternative text</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="position" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>Gallery entry position (sort order)</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:min />
                <inf:max />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="disabled" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>If gallery entry is hidden from product page</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:default>false</inf:default>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="types" type="tns:ArrayOfString">
            <xsd:annotation>
              <xsd:documentation>Gallery entry image types (thumbnail, image, small_image etc)</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="file" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>File path</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:maxLength />
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="content" type="tns:FrameworkDataImageContentInterface">
            <xsd:annotation>
              <xsd:documentation>Media gallery content</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="extensionAttributes" type="tns:CatalogDataProductAttributeMediaGalleryEntryExtensionInterface">
            <xsd:annotation>
              <xsd:documentation>Existing extension attributes object or create a new one.</xsd:documentation>
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="backendModuleServiceV1GetModulesRequest" nillable="true" type="tns:BackendModuleServiceV1GetModulesRequest" />
      <xsd:complexType name="BackendModuleServiceV1GetModulesRequest">
        <xsd:annotation>
          <xsd:documentation>Returns an array of enabled modules</xsd:documentation>
          <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
        </xsd:annotation>
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="backendModuleServiceV1GetModulesResponse" type="tns:BackendModuleServiceV1GetModulesResponse" />
      <xsd:complexType name="BackendModuleServiceV1GetModulesResponse">
        <xsd:annotation>
          <xsd:documentation>Response container for the backendModuleServiceV1GetModules call.</xsd:documentation>
          <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="result" type="tns:ArrayOfString">
            <xsd:annotation>
              <xsd:documentation />
              <xsd:appinfo xmlns:inf="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1">
                <inf:natureOfType>array</inf:natureOfType>
                <inf:callInfo>
                  <inf:callName>backendModuleServiceV1GetModules</inf:callName>
                  <inf:returned>Always</inf:returned>
                </inf:callInfo>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GenericFault">
    <wsdl:part name="messageParameters" element="tns:GenericFault" />
  </wsdl:message>
  <wsdl:message name="backendModuleServiceV1GetModulesRequest">
    <wsdl:part name="messageParameters" element="tns:backendModuleServiceV1GetModulesRequest" />
  </wsdl:message>
  <wsdl:message name="backendModuleServiceV1GetModulesResponse">
    <wsdl:part name="messageParameters" element="tns:backendModuleServiceV1GetModulesResponse" />
  </wsdl:message>
  <wsdl:portType name="backendModuleServiceV1PortType">
    <wsdl:operation name="backendModuleServiceV1GetModules">
      <wsdl:input message="tns:backendModuleServiceV1GetModulesRequest" />
      <wsdl:output message="tns:backendModuleServiceV1GetModulesResponse" />
      <wsdl:fault name="GenericFault" message="tns:GenericFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="backendModuleServiceV1Binding" type="tns:backendModuleServiceV1PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="backendModuleServiceV1GetModules">
      <soap12:operation soapAction="backendModuleServiceV1GetModules" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GenericFault" />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="backendModuleServiceV1Service">
    <wsdl:port name="backendModuleServiceV1Port" binding="tns:backendModuleServiceV1Binding">
      <soap12:address location="http://199.48.164.39:4423/Magento-2-0-2-0-ce/soap/default?services=backendModuleServiceV1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>